@model List<CategoryListVM>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Areas/BlogApi/Views/Shared/_Layout.cshtml";
}

<h1>CategoryList</h1>

@foreach (var item in Model)
{
    <h1>@item.Name</h1>
    <h1>@item.CreatedDate</h1>
    <h1>@item.UpdatedDate</h1>


    <a data-id="@item.Id" asp-area="BlogApi" asp-controller="Category" asp-action="CategoryUpdate" asp-route-Id="@item.Id" class=" btn btn-outline-primary">upate</a>
    <a data-id="@item.Id" asp-area="BlogApi" asp-controller="Category" asp-action="CategoryDelete" asp-route-Id="@item.Id" class=" btn btn-outline-primary">delete</a>

}

